.home{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://i.imgur.com/3FMVb3T.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.open {
  &::before,
  &::after {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #6c584c;
  }
  &::before {
    margin-right: 32px;
    transform: rotate(-35deg);
  }
  &::after {
    margin-left: 32px;
    transform: rotate(35deg);
  }
}

.bounce-out-down {
  animation: bounce-out-down 2s ease infinite;
}

@keyframes bounce-out-down {
  0% { transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.more{
  top: 55vh;
}

.about{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://i.imgur.com/OuXxwkc.jpg) no-repeat;  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-about-btn{
  &:active{
    color: white !important;
  }
}

.code{
  position: relative;
  background: #6c584c;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
  padding: 16px 24px;
  overflow: hidden;
  .code-text{
    letter-spacing: 2px;
  }
}

.home-subscribe{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://i.imgur.com/zP2ZSQm.jpg) no-repeat;  
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

@media (pointer: coarse) {
  .gb-container {
      background-attachment: inital !important;
  }
}
